body {
    font-family: 'Comic Sans MS', cursive;
    background-color: #f0f9ff;
    line-height: 1.6;
}

.container {
    max-width: 600px;
    padding: 10px 30px 30px 30px;
    border-radius: 15px;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #e91e63;
    font-size: clamp(1.3rem, 6vw, 2.5rem);
    margin-bottom: 35px;
}

.story-text {
    font-size: clamp(0.8rem, 4vw, 1.2rem);
    color: #333;
    text-align: justify;

    outline: 3px dashed #ff9800;
    outline-offset: 10px;
}