@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;600&family=Pixelify+Sans&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200;
  --bg: black;
  --border: #95D2B3;
  --text: #F8DDE5;
  --prompt-default: #A5A7A7;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html,
body {
  color: var(--text);
  background-color: var(--bg);
  height: 100%;
  font-size: 16px;
  display: block;
}

html {
  overflow: auto;
}

body {
  padding: 12px;
  box-sizing: border-box;
}

main {
  display: block;
  box-sizing: border-box;
  height: 100%;
  border: var(--border) solid 1px;
  border-radius: 2.5px;
  overflow-y: auto;
  overflow-x: hidden;

}

main::-webkit-scrollbar {
  display: none;
}

p {
  display: block;
  line-height: 22px;
  animation: typing 0.75s steps(30, end);
  white-space: nowrap;
}

div {
  line-height: 22px;
}

@font-face {
  font-family: ascii;
  src: url("./font/IBMPlexMono-Thin.ttf")
}

pre {
  margin: 0;
  padding: 0;
  line-height: 22.5px !important;
  color: black;
  font-family: "ascii", monospace;
}

input {
  font-family: 'IBM Plex Mono', monospace;
  padding: 0px;
  margin: 0px;
  border: none;
  resize: none;
  outline: none;
  font-size: 16px;
  color: #4287f5;
  caret-color: var(--prompt-default);
  width: 50%;
}

a {
  color: #B6AAEE;
}

a:hover {
  background-color: var(--border);
  color: black;
}

a.no-hover:hover {
  background: none;
  color: inherit;
}

#terminal {
  margin-left: 20px;
}

#input-line {
  margin-left: 20px;
  overflow-x: hidden;
  width: 100%;
}

.command {
  color: #95D2B3;
  text-shadow:
    0 0 2px blue,
    0 0 0px #95D2B3,
    0 0 10px #fff;
}

.text-shadow-style {
  text-shadow:
    0 0 7px #fff,
    0 0 151px var(--border);
}

.output {
  font-weight: 600 !important;
}

.color-\[\#70FDFF\] {
  color: #70FDFF;
}

.highlighted {
  color: #95D2B3;
  cursor: pointer;
  transition: color 0.3s ease;
}

.highlighted:hover {
  color: #93e5bc;
}

.lowlighted {
  color: #B7E0FF;
  display: inline-block;
  transition: color 0.3s ease;
  cursor: default;
}

.lowlighted:hover {
  color: #6dc0ff;
}

.lowlighted,
.highlighted {
  opacity: 0;
  animation: fadeIn 1.25s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.mobileRepoElement {
  color: #95D2B3;
  text-shadow:
    0 0 2px blue,
    0 0 0px #95D2B3,
    0 0 10px #fff;

  cursor: pointer;
  margin-left: 15px;
  transition: text-shadow 0.5s ease, color 0.5s ease;
}

.mobileRepoElement:hover {
  text-decoration: underline;
  text-shadow:
    0 0 7px #fff,
    0 0 20px #70FDFF,
    0 0 30px #95D2B3;
  color: #a4ffff;
}

#repo-container {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  top: 100%;
  color: transparent;
  padding: 0;
  border: 0;

  border-radius: 2.5px;

  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  left: 66%;

  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #10121d;

  font-family: "ascii", monospace;

  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

#repo-container.show {
  opacity: 1;
  visibility: visible;
  width: 50%;
  height: 61%;
  top: 50%;
  color: var(--text-color);
  padding: 10px;
  padding-top: 0;
  border: 1px solid var(--border);
}

.repo-table-header {
  display: flex;
  padding: 15px 0;
  margin: 0 0 5px 0;
  border-bottom: 1px solid var(--border);
  color: var(--highlight-color);
}

.repo-table-header span,
.repo-table-header .repo-column-icon {
  flex: 1;
  text-align: center;
  align-items: center;
  font-weight: 575;
  color: #F2C18D;
  cursor: default;
}
.repo-table-header .repo-column-name {
  flex: 10;
}
.repo-table-header .repo-column-type,
.repo-table-header .repo-column-date,
.repo-table-header .repo-column-who {
  flex: 3;
}


.repo-elements .repo-column-icon {
  flex: 1;
}
.repo-elements .repo-column-name {
  flex: 10;
}
.repo-elements .repo-column-type,
.repo-elements .repo-column-date,
.repo-elements .repo-column-who {
  flex: 3;
}

.repo-elements .file,
.repo-elements .directory {
  display: flex;
  margin: 2.5px 0;
  padding: 5px 0;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.repo-elements .file:hover,
.repo-elements .directory:hover,
.repo-active {
  background-color: var(--border);
  color: black;
}

.repo-elements span {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

#current-repo-directory {
  position: absolute;
  bottom: 2.5%;
  left: 15px;
}

/* Media Queries */

@media (max-width: 1600px) {
  #archive-container {
    display: none;
  }
}

@media (max-width: 700px) {
  body {
    font-size: 14px;
    padding: 8px;
    font-weight: 375;
  }

  input {
    font-size: 14px;
  }

  p {
    line-height: 17px;
  }

  pre {
    line-height: 10x !important;
    font-size: 14px;
  }

  main {
    border-width: 1px;
  }

  div {
    line-height: 17px;
  }

  #terminal {
    margin-left: 10px;
  }

  #input-line {
    margin-left: 10px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 10px;
    padding: 2px;
    font-weight: 300;
  }

  input {
    font-size: 10px;
  }

  p {
    line-height: 14px;
  }

  pre {
    line-height: 12px !important;
    font-size: 10px;
  }

  main {
    border-width: 1px;
  }

  div {
    line-height: 14px;
  }

  #terminal {
    margin-left: 8px;
  }

  #input-line {
    margin-left: 8px;
  }
}

@media (max-width: 450px) {
  body {
    font-size: 10px;
    padding: 2px;
    font-weight: 275;
  }

  input {
    font-size: 10px;
  }

  p {
    line-height: 13px;
  }

  pre {
    line-height: 11px !important;
    font-size: 10px;
  }

  main {
    border-width: 1px;
  }

  div {
    line-height: 13px;
  }

  #terminal {
    margin-left: 8px;
  }

  #input-line {
    margin-left: 8px;
  }
}