body {
    background-color: #f4f7fc;
    font-family: Arial, sans-serif;
}

table {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 50%;
    border-collapse: collapse;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    text-align: center;
    font-size: 15px;
}

th {
    background-color: #0056b3;
    color: white;
}

td {
    border-bottom: 1px solid #e0e0e0;
}

td:nth-child(even) {
    font-weight: bold;
}


tr {
    background-color: white;
    transition: all 0.5s ease;
}

tr:hover {
    background-color: #e3f2fd;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    table {
        width: 90%;
    }

    th,
    td {
        font-size: 13px;
        padding: 8px;
    }
}